.footer {
    width: 100%;
    box-sizing: border-box;
    background: #446A82;
    &__wrapper {
        padding: 0 25px;
    }
    &__inner {
        padding: 40px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__logo {
        display: none;
        margin-right: 35px;
    }
    &__text {
        @include font(Open Sans, normal, 300, 16px, 25px, #FFFFFF);
    }
}

.logo {
    &__img {
        width: 56px;
        height: 72px;
    }
}