.header {
    width: 100%;
    box-sizing: border-box;
    background: url(../assets/img/header/bg.jpg) center;
    &__wrapper {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
    }
    &__inner {
        display: flex;
        flex-direction: column;
    }
    &__logo {
        padding-top: 20px;
        display: flex;
    }
    &__title {
        margin-top: 25px;
        @include font(Open Sans, normal, 300, 32px, 40px, #FFFFFF);
    }
    &__text {
        margin-top: 20px;
        @include font(Open Sans, normal, 300, 16px, 24px, #FFFFFF);
    }
    &__link {
        margin-top: 25px;
        width: 160px;
        height: 40px;
        background: #FDB913;
        border: none;
        outline: none;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include font(Open Sans, normal, 700, 12px, 14px, #FFFFFF);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        cursor: pointer;
    }
    &__img {
        width: 176px;
        height: 270px;
        margin: 22px auto 0;
        padding-right: 10px;
    }
}

.logo {
    &__img {
        width: 50px;
        height: 64px;
    }
}

@media screen and (min-width: 1200px) {
    .header {
        background-attachment: fixed;
        &__wrapper {
            padding: 0 105px;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }
        &__inner:first-child {
            width: 540px;
            margin-bottom: 70px;
        }
        &__logo {
            padding-top: 52px;
        }
        &__title {
            margin-top: 42px;
            @include font(Open Sans, normal, 300, 45px, 55px, #FFFFFF);
        }
        &__text {
            @include font(Open Sans, normal, 300, 20px, 30px, #FFFFFF);
        }
        &__link {
            margin-top: 30px;
            width: 200px;
            height: 50px;
            @include font(Open Sans, normal, 700, 14px, 14px, #FFFFFF);
        }
        &__img {
            width: 358px;
            height: 550px;
            margin: 0;
            padding-right: 0;
        }
    }
    .logo {
        &__img {
            width: 85px;
            height: 110px;
        }
    }
}

@media screen and (min-width: 1600px) {
    .header {
        &__wrapper {
            padding: 0 245px;
        }
        &__inner:first-child {
            margin-bottom: 133px;
        }
        &__logo {
            padding-top: 130px;
        }
    }
}