.note {
    width: 100%;
    box-sizing: border-box;
    &__wrapper {
        display: flex;
        flex-direction: column;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__inner:nth-child(2) {
        padding: 40px;
        background: #FDB913;
    }
    &__img {
        width: 320px;
        height: 220px;
        margin: 0 auto;
    }
    &__title {
        width: 240px;
        margin: 0 auto;
        @include font(Open Sans, normal, 300, 25px, 35px, #FFFFFF);
    }
    &__text {
        width: 240px;
        margin: 20px auto 0;
        @include font(Open Sans, normal, 300, 14px, 20px, #FFFFFF);
    }
}