.services {
    width: 100%;
    box-sizing: border-box;
    &__wrapper {
        padding: 0 15px;
        display: flex;
        flex-direction: column;
    }
    &__inner {
        display: flex;
    }
    &__title {
        padding: 40px 0;
        @include font(Open Sans, normal, 300, 25px, 30px, #2d2d2d);
        text-align: center;
    }
}

.list {
    margin-top: 40px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
}

.service {
    margin-bottom: 40px;
    &__img {
        width: 50px;
        height: 50px;
    }
    &__title {
        margin-top: 20px;
        @include font(Open Sans, normal, 300, 20px, 30px, #2d2d2d);
    }
    &__description {
        margin-top: 20px;
        @include font(Open Sans, normal, 300, 14px, 20px, #2d2d2d);
    }
}

@media screen and (min-width: 1200px) {
    .services {
        &__wrapper {
            padding: 0 105px;
            align-items: center;
        }
        &__inner {
            width: 100%;
            box-sizing: border-box;
        }
        &__title {
            padding: 65px 0 45px;
            @include font(Open Sans, normal, 300, 35px, 35px, #2d2d2d);
        }
        &__video {
            width: 920px;
            height: 517px;
        }
    }
    .list {
        width: 100%;
        box-sizing: border-box;
        margin-top: 65px;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .service {
        margin-bottom: 65px;
        &__img {
            width: 65px;
            height: 65px;
        }
        &__title {
            @include font(Open Sans, normal, 300, 30px, 30px, #2d2d2d);
        }
        &__description {
            width: 300px;
            @include font(Open Sans, normal, 300, 16px, 25px, #2d2d2d);
        }
    }
}