@import "base/reset";
@import "base/fonts";
@import "utils/mixins";
@import "layout/header";
@import "layout/main";
@import "layout/footer";
.main-wrapper {
    background: #ffffff;
}

.container {
    width: 320px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

@media screen and (min-width: 1600px) {
    .container {
        width: 1600px;
    }
}